{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block Content %}




<body>
<!--Website Wrapper Starts-->
<div class="website-wrapper">
    
    <!--  Banner Starts  -->
    <div class="banner">
        <div class="banner-contents">
            <h2>The Thrill of giving lasts a Lifetime</h2>
            <h1>"I AM BECAUSE WE ALL ARE"</h1>
            <p>sending a gift donation, you make it possible for us to grow impact</p>
                <p>Everyone can be great because everyone can serve</p>
                    <p>- Martin Luther King Jnr</p><p> Join us in embracing the spirit of Ubuntu!</p><p>Get involved, or donate to our initiatives</p>
            </p>
            <button class="btn Click-to-Support-btn">Click To Support</button>
        </div>
    </div>
    <!--  Banner Ends -->

</section>
<!-- Home Section Ends -->

<!-- Facilities Section Starts -->
<section class="facilities">
    <div class="facilities-contents">
        
        <div class="facility-item">
            <div class="facility-icon">
                <i class="fa-solid fa-graduation-cap"></i>
            </div>
            <div class="facility-desc">
                <h2>Scholarship Programme</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>

        <div class="facility-item">
            <div class="facility-icon">
                <i class="fa-solid fa-lightbulb"></i>
            </div>
            <div class="facility-desc">
                <h2>Mentorship programme</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>

        <div class="facility-item">
            <div class="facility-icon">
                <i class="fa-solid fa-cog"></i>
            </div>
            <div class="facility-desc">
                <h2>Technical Training</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>

    </div>
</section>
<!-- Facilities Section Ends -->
<!--   *** About Section Starts ***   -->
<section class="about" id="about">
    <div class="about-contents">
        
        <div class="about-left-col">
            <img src="{% static 'images/about/about-img.jpg' %}">
        </div>

        <div class="about-right-col">
            <h4>About Us</h4>
            <h1>Building A Community</h1>
            <p>We are unique in our approach to Empowering, nurturing, and developing a holistic community e.g., applying the principles of Ubuntu to modern challenges, combining traditional wisdom with innovative solutions, focusing on scholarship. We are not just talking about Ubuntu; we are living it.</p>
            <div class="about-states">
                <div class="about-state about-state-1">
                    <i class="fa-solid fa-chalkboard-teacher"></i>
                    <h2>Best Trainers</h2>
                </div>
                <div class="about-state about-state-2">
                    <i class="fa-solid fa-rss"></i>
                    <h2>Our Blog</h2>
                </div>
            </div>
        </div>

    </div>
</section>
<!--   *** About Section Ends ***   -->

<!--   *** Services Section Starts ***   -->
<section class="services" id="services">
    
    <!--   === Services Header Starts ===   -->
    <header class="section-header">
        <h3>Services</h3>
        <h1>Services Which We Offer</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </header>
    <!--   === Services Header Ends ===   -->

    <!--   === Services Contents Starts ===   -->
    <div class="services-contents">
        
        <div class="service-box">
            <div class="service-icon-box">
                <i class="fa-solid fa-tree"></i>
            </div>
            <div class="service-desc">
                <h2>Personal Growth & Development</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>

        <div class="service-box">
            <div class="service-icon-box">
                <i class="fa-solid fa-compass"></i>
            </div>
            <div class="service-desc">
                <h2>Career Guidance</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>

        <div class="service-box">
            <div class="service-icon-box">
                <i class="fa-solid fa-graduation-cap"></i>
            </div>
            <div class="service-desc">
                <h2>Scholarships</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>

        <div class="service-box">
            <div class="service-icon-box">
                <i class="fa-solid fa-globe-americas"></i>
            </div>
            <div class="service-desc">
                <h2>Cultural exchange programs</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>

    </div>
    <!--   === Services Contents Ends ===   -->

</section>
<!--   *** Services Section Ends ***   -->

<!--   *** Offer Section Starts ***   -->
<section class="offer">
    <div class="offer-overlay"></div>
    <div class="offer-contents">
        <h1>Hope is the last thing ever lost</h1>
        <span>proverbs 19:17</span>
        <h3>Get Involved</h3>
        <button class="btn start-training-btn">Join Now</button>
    </div>
</section>
<!--   *** Offer Section Ends ***   -->

<!--   *** Team Section Starts ***   -->
<section class="our-team" id="our_team">
    <!--   === Team Header Starts ===   -->
    <header class="section-header">
        <h3>Our Trainers</h3>
        <h1>Meet Our Experienced Trainers</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </header>
    <!--   === Team Header Ends ===   -->
    <!--   === Team Contents Starts ===   -->
    <div class="team-contents">
        
        <div class="trainer-card">
            <div class="trainer-image">
                <img src="{% static 'images/trainers/trainer-1.jpg' %}">
            </div>
            <div class="trainer-desc">
                <h2>Krystylle Richardson</h2>
                <p>Professional Leadership Development</p>
            </div>
            <div class="trainer-contact">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>

        <div class="trainer-card">
            <div class="trainer-image">
                <img src="{% static 'images/trainers/trainer-2.jpg' %}">
            </div>
            <div class="trainer-desc">
                <h2>Lamech Ochiko</h2>
                <p>International relation expert</p>
            </div>
            <div class="trainer-contact">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>

        <div class="trainer-card">
            <div class="trainer-image">
                <img src="{% static 'images/trainers/trainer-3.jpg' %}">
            </div>
            <div class="trainer-desc">
                <h2>Julius Kibugi</h2>
                <p>Live sound & audio engineer</p>
            </div>
            <div class="trainer-contact">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>

    </div>
    <!--   === Team Contents Ends ===   -->
</section>
<!--   *** Team Section Ends ***   -->

<!--   *** Pricing Section Starts ***   -->
<section class="pricing" id="pricing">

    <!--   === Pricing Header Starts ===   -->
    <header class="section-header">
        <h3>Pricing</h3>
        <h1>Join Suitable Plan</h1>
        <p>This aim at securing partners/Donor to guarantee steady flow of in-donations in support of vulnerable and talented kids  </p>
    </header>
    <!--   === Pricing Header Ends ===   -->
    <!--   === Pricing Contents Starts ===   -->
    <div class="pricing-contents">
        
        <!--   === Pricing Card 1 Starts ===   -->
        <div class="pricing-card">
            <div class="pricing-card-header">
                <span class="pricing-card-title">Silver</span>
                <div class="price-circle">
                    <span class="price"><i>$</i>12.99</span>
                    <span class="desc">/ Month</span>
                </div>
            </div>

            <div class="pricing-card-body">
                <ul>
                    <li><i class="fa-solid fa-check"></i>20% 38hrs Life skills training</li>
                    <li><i class="fa-solid fa-check"></i>20% 40hrs technical skill training</li>
                    <li><i class="fa-solid fa-check"></i>40% Basic personal effects pack</li>
                    <li><i class="fa-solid fa-check"></i>60% Scholarship bucket</li>
                </ul>
                <button class="btn price-plan-btn">Select Plan</button>
            </div>
        </div>
        <!--   === Pricing Card 1 Ends ===   -->

        <!--   === Pricing Card 2 Starts ===   -->
        <div class="pricing-card">
            <div class="pricing-card-header">
                <div class="tag-box">
                    <span class="tag">Recommend</span>
                </div>
                <span class="pricing-card-title">Gold</span>
                <div class="price-circle">
                    <span class="price"><i>$</i>36.99</span>
                    <span class="desc">/ Month</span>
                </div>
            </div>

            <div class="pricing-card-body">
                <ul>
                    <li><i class="fa-solid fa-check"></i>20% 38hrs Life skills training</li>
                    <li><i class="fa-solid fa-check"></i>20% 40hrs technical skill training</li>
                    <li><i class="fa-solid fa-check"></i>40% Basic personal effects pack</li>
                    <li><i class="fa-solid fa-check"></i>60% Scholarship bucket</li>
                </ul>
                <button class="btn price-plan-btn">Select Plan</button>
            </div>
        </div>
        <!--   === Pricing Card 2 Ends ===   -->

        <!--   === Pricing Card 3 Starts ===   -->
        <div class="pricing-card">
            <div class="pricing-card-header">
                <span class="pricing-card-title">Platinum</span>
                <div class="price-circle">
                    <span class="price"><i>$</i>74.99</span>
                    <span class="desc">/ Month</span>
                </div>
            </div>

            <div class="pricing-card-body">
                <ul>
                    <li><i class="fa-solid fa-check"></i>20% 38hrs Life skills training</li>
                    <li><i class="fa-solid fa-check"></i>120% 40hrs technical skill training</li>
                    <li><i class="fa-solid fa-check"></i>40% Basic personal effects pack</li>
                    <li><i class="fa-solid fa-check"></i>60% Scholarship bucket</li>
                </ul>
                <button class="btn price-plan-btn">Select Plan</button>
            </div>
        </div>
        <!--   === Pricing Card 3 Ends ===   -->

    </div>
    <!--   === Pricing Contents Ends ===   -->
</section>
<!--   *** Pricing Section Ends ***   -->

<!--   *** Blog Section Starts ***   -->
<section class="blog" id="blog">
    <!--   === Blog Header Starts ===   -->
    <header class="section-header">
        <h3>Our Blog</h3>
        <h1>Latest From Our Blog</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </header>
    <!--   === Blog Header Ends ===   -->

    <!--   === Blog Contents Starts ===   -->
    <div class="blog-contents">
        
        <div class="article-card">
            <img src="{% static 'images/posts/post-1.jpg' %}">
            <div class="category">
                <div class="subject"><h3>Impact stories</h3></div>
                <span>11/02/2025</span>
            </div>
            <h2 class="article-title">Impact stories: Joyna Samba.</h2>
            <p class="article-desc">From dusty streets to graduation stage, Ubuntu's hand lifted me.  Empty plates turned into diplomas, despair into dreams.  Honors weren't just mine; they echoed a community's belief.
.</p>
            <div class="article-views">
                <span>2.5k <i class="fa-solid fa-eye"></i></span>
                <span>352 <i class="fa-solid fa-comment"></i></span>
            </div>
        </div>

        <div class="article-card">
            <img src="{% static 'images/posts/post-2.jpg' %}">
            <div class="category">
                <div class="subject"><h3>Impact stories</h3></div>
                <span>30/02/2025</span>
            </div>
            <h2 class="article-title">Impact stories: Morara Okijan.</h2>
            <p class="article-desc">Orphaned, then nurtured by Ubuntu. Community's embrace fueled my dreams. Now, I code my future at a leading tech firm, a testament to their unwavering belief..</p>
            <div class="article-views">
                <span>2.5k <i class="fa-solid fa-eye"></i></span>
                <span>352 <i class="fa-solid fa-comment"></i></span>
            </div>
        </div>

        <div class="article-card">
            <img src="{% static 'images/posts/post-3.jpg' %}">
            <div class="category">
                <div class="subject"><h3>Impact stories</h3></div>
                <span>18/03/2025</span>
            </div>
            <h2 class="article-title">Impact stories: Juma zulu.</h2>
            <p class="article-desc">Ubuntu saw my talent, nurtured my dream. From dusty pitches to Ghana's national team, I score goals and provide for my family back home.  My success is their victory..</p>
            <div class="article-views">
                <span>2.5k <i class="fa-solid fa-eye"></i></span>
                <span>352 <i class="fa-solid fa-comment"></i></span>
            </div>
        </div>

    </div>
    <!--   === Blog Contents Ends ===   -->
    <div class="view-more-btn-container">
        <button class="btn articles-view-btn">View More</button>
    </div>
</section>
<!--   *** Blog Section Ends ***   -->


</div>
<!--  Website Wrapper Ends -->


<script type="text/javascript" src="{% static 'ubuntu.js' %}"></script>
</body>
</html>

{% endblock %}